*{
    margin: 0;
    padding: 0;
}
/* navbar start  */
.btn{
    padding: 10px 20px;
    background: green;
    margin-top: 10px;
    border-radius: 5px;
    color: white;
}
.btn:hover{
    background: rgba(0, 128, 0, 0.801);
    border: 1px solid red;
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    background: #000;
    height: 60px;
}

.header-container .header-menu{
    display: flex;
}
.header-menu li{
    margin-left: 20px;
    list-style-type: none;
}
.header-menu li:hover a{
    color:rosybrown;
}
ul.header-menu  li a{
    text-decoration: none;
    color: white;
}
/* navbar end */

/* banner start  */
.banner-container{
    display: flex;
    align-items: center;
    margin-top: 0px;
    /* justify-content: space-around; */
    background: #000;
    padding: 20px;
    color:white;
    height: 100vh;
}
/* banner end */

/* service start  */
.text-center{
    text-align: center;
    font-size: 48px;
    margin-top: 30px;
}
.card-conatainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 40px 0d;
}
.card{
    border: 1px solid grey;
    box-shadow: 4px 4px 8px grey;
    width: 300px;
    padding: 10px;
    /* margin: auto; */
    text-align: center;
    border-radius: 5px;

}
.card:hover{
    padding: 15px;
    margin-top: -10px;
    border: 1px solid red;
}
.card img{
    width: 60px;
}
/* service end */